# **Sistema de colas de un solo servidor**



*   Los clientes llegan en intervalos,los cuales siguen un distribuccion uniforme.Asi mismo el tiempo de servicio en el servidor sigue dicha distribucion.
* El tiempo de llegada del proximo cliente se genera aleatoria al llegar una persona,de la misma manera.

In [ ]:
import numpy as np
import pandas as pd

# Parametros

tiempo_llegada_max = 5
tiempo_llegada_min = 1

tiempo_service_max = 6
tiempo_service_min = 1

n = 100  #Numero eventos

In [ ]:
np.random.seed(42)
event = 0

#inicio en ceros
time_ = 0

#Inicializamos en 0 para llegadas y atendidos
arrived_customers = 0
served_customers = 0
departed_customers = 0

#Generamos variables para siguiente evento
tiempo_llegada = np.random.uniform(tiempo_llegada_min, tiempo_llegada_max)
tiempo_llegada_siguiente = time_ + tiempo_llegada

server_status = "Inactivo"
cola = 0
arrived_customers += 1

# evento cero realizado
event += 1  


ts_columns = ['Evento', 'Time', 'type', 
              'cola', 'arr cust', 'served cust', 'depar cust']

time_series =  pd.DataFrame([[1, float(tiempo_llegada_siguiente), "Llegada", 
                              cola, arrived_customers, 0, 0]],
                             columns = ts_columns) 

time_series

   Evento     Time     type  cola  arr cust  served cust  depar cust
0       1  2.49816  Llegada     0         1            0           0

In [ ]:
while event <= n:
    #Evento comienza
    event_type = time_series['type'].iloc[event-1]
    time_ = time_series['Time'].iloc[event-1]
    #Si el evento es una llegada
    if event_type == "Llegada": #Llegada genera por defecto la prÃ³xima hora de llegada
        #Clientes que llegaron aumenta a 1
        arrived_customers += 1
        
        #Genera siguiente hora de llegada
        tiempo_llegada = np.random.uniform(tiempo_llegada_min, tiempo_llegada_max)
        tiempo_llegada_siguiente = time_ + tiempo_llegada  

        #Si el cajero estÃ¡ inactivo se atiende al cliente de inmediato y genera tiempo de servicio

        if server_status == "Inactivo":
            #Cliente en servicio aumenta en 1
            served_customers += 1
            #Este nÃºmero de cliente se agrega a la columna 'cliente atendido' en el evento n
            time_series['served cust'].iloc[event-1] =  served_customers

            #Genera evento siguiente tiempo de servicio y de salida
            tiempo_service = np.random.uniform(tiempo_service_min, tiempo_service_max)
            tiempo_salida = time_ + tiempo_service
            departed_customers += 1 #mismo cliente que se atiende a la hora de llegada sale a la hora de salida

            #Eventos generados agregados a la serie de tiempo
            generated_events =  pd.DataFrame([
                          [99, float(tiempo_salida), "Salida", 0, 0,0,  departed_customers],
                          [99, float(tiempo_llegada_siguiente), "Llegada", 0, arrived_customers, 0, 0]
                          ], columns = ts_columns) 
                          #Se ordena despuÃ©s
            time_series =  pd.concat([time_series, generated_events])
            #Se ordena por tiempo los eventos 
            time_series = time_series.sort_values(['Time'])
            time_series.reset_index(drop=True, inplace=True)
            #NÃºmero de evento se asigna en orden del tiempo
            time_series['Evento'] = list(range(1, time_series.shape[0]+1))

            #Evento finaliza
            event += 1 

        #Si el estado es ocupado, aumenta cola y solo genera llegada
        if server_status == "Ocupado":
            cola += 1
            #Eventos generados agregados a la serie de tiempo
            generated_events =  pd.DataFrame([
                                [99, float(tiempo_llegada_siguiente), "Llegada", 
                                 0, arrived_customers,0, 0]]
                                , columns = ts_columns) 

            time_series =  pd.concat([time_series, generated_events])
            time_series = time_series.sort_values(['Time'])
            time_series.reset_index(drop=True, inplace=True)
            time_series['Evento'] = list(range(1, time_series.shape[0]+1))
            time_series['cola'].iloc[event-1] = cola
            #Evento finaliza
            event += 1 
    #Si el evento es una salida
    if event_type == "Salida":
        #si la cola es cero y el cliente sale, el estado del servidor permanece inactivo y el prÃ³ximo evento es una llegada
        if cola == 0 :
            server_status = "Inactivo"
            #Evento finaliza/
            #No sucede nada hasta proxima llegada
            event += 1

        #si hay clientes en cola (>0), el servidor cambia a ocupado y la cola disminuye en uno   
        if cola != 0 :
            #Cliente es atendido y el contador de clientes atendidos aumenta en 1
            served_customers += 1
            
            #este nÃºmero de cliente se agrega a la columna 'cliente atendido' en el evento n
            time_series['served cust'].iloc[event-1] =  served_customers           
            
            #Cola disminuye en 1
            cola -= 1
            server_status = "Ocupado"
            
            #Genera evento siguiente tiempo de servicio y de salida
            tiempo_service = np.random.uniform(tiempo_service_min, tiempo_service_max)
            tiempo_salida = time_ + tiempo_service
            departed_customers += 1 #mismo cliente que se atiende a la hora de llegada sale a la hora de salida
            #Eventos generados agregados a la serie de tiempo
            generated_events =  pd.DataFrame([
                                    [99, float(tiempo_salida), "Salida", 0, 0, 0, departed_customers]
                                    ], columns = ts_columns) 
            time_series =  pd.concat([time_series, generated_events])
            time_series = time_series.sort_values(['Time'])
            time_series.reset_index(drop=True, inplace=True)
            time_series['Evento'] = list(range(1, time_series.shape[0]+1)) 
            time_series['cola'].iloc[event-1] = cola
            #Evento finaliza
            event += 1 

    #Finalizado el evento, se determina el estado del cajero
    #Si es la prÃ³xima llegada si es anterior a la salida del cliente actual, el servidor estarÃ¡ ocupado a la llegada
    if tiempo_llegada_siguiente < tiempo_salida:
        server_status = "Ocupado" 
    else: 
        server_status = "Inactivo"

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
#create summary of customer data with results
arrivals = time_series.loc[time_series['type'] == 'Llegada', ['Time', 'arr cust' ]]
arrivals.columns = ['time', 'customer']
depature = time_series.loc[time_series['type'] == 'Salida', ['Time', 'depar cust' ]]
depature.columns = ['time', 'customer']

serving = time_series.loc[time_series['served cust'] != 0 , ['Time', 'served cust' ]]
serving.columns = ['Time', 'customer']

customer_df = arrivals.merge(depature, on='customer')
customer_df = customer_df.merge(serving, on='customer')
customer_df.columns = ['arrival time', 'customer', 'departure time', 'serving time']
customer_df = customer_df[['customer', 'arrival time', 'serving time', 'departure time']] 

customer_df['time in queue'] = customer_df['serving time'] - customer_df['arrival time'] 

customer_df['time in server'] = customer_df['departure time'] - customer_df['serving time'] 
customer_df = customer_df.round(2)
customer_df

,customer,arrival time,serving time,departure time,time in queue,time in server
0,1,2.50,2.50,7.16,0.00,4.66
1,2,7.30,7.30,9.08,0.00,1.78
2,3,10.70,10.70,11.99,0.00,1.29
3,4,12.32,12.32,16.33,0.00,4.01
4,5,16.78,16.78,17.89,0.00,1.10
5,6,20.62,20.62,25.78,0.00,5.16
6,7,25.50,25.78,27.69,0.28,1.91
7,8,27.35,27.69,30.21,0.34,2.52
8,9,29.08,30.21,33.37,1.13,3.16
9,10,32.18,33.37,37.43,1.19,4.06
10,11,34.34,37.43,40.26,3.08,2.83
11,12,35.90,40.26,45.19,4.36,4.93
12,13,38.07,45.19,49.15,7.12,3.96
13,14,40.89,49.15,51.00,8.25,1.85
14,15,42.69,51.00,56.74,8.31,5.74
15,16,45.75,56.74,59.27,11.00,2.52
16,17,46.94,59.27,60.76,12.33,1.49
17,18,50.37,60.76,63.96,10.39,3.20
18,19,51.63,63.96,65.57,12.33,1.61
19,20,56.49,65.57,66.74,9.08,1.17
20,21,60.72,66.74,72.29,6.02,5.55
21,22,64.46,72.29,74.84,7.83,2.56
22,23,67.44,74.84,78.58,7.40,3.73
23,24,69.47,78.58,83.45,9.10,4.88
24,25,73.12,83.45,88.93,10.33,5.47
25,26,76.21,88.93,94.54,12.72,5.61
26,27,77.94,94.54,97.16,16.59,2.63
27,28,82.82,97.16,99.52,14.34,2.36
28,29,87.58,99.52,102.30,11.94,2.78
29,30,90.97,102.30,106.02,11.33,3.71
30,31,92.33,106.02,107.39,13.69,1.37
31,32,94.11,107.39,113.33,13.28,5.93
32,33,95.29,113.33,115.32,18.03,1.99
33,34,97.85,115.32,119.85,17.47,4.53
34,35,102.16,119.85,124.71,17.69,4.86
35,36,104.28,124.71,126.29,20.42,1.58
36,37,105.85,126.29,131.60,20.44,5.32
37,38,110.06,131.60,132.92,21.55,1.32
38,39,114.15,132.92,135.55,18.78,2.63
39,40,115.17,135.55,139.74,20.38,4.19
40,41,119.43,139.74,143.10,20.31,3.36
41,42,123.35,143.10,144.69,19.75,1.60
42,43,124.64,144.69,149.50,20.05,4.80
43,44,127.08,149.50,154.35,22.42,4.85
44,45,130.57,154.35,157.49,23.78,3.14
45,46,132.89,157.49,159.03,24.60,1.54